<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
<h1>{{.Name}}</h1>
<h2>Age: {{.Age}}</h2>
<h3>Was: {{.SomeProcessing}}</h3>
<h3>Double Age: {{.AgeDbl}}</h3>
<h3>Arg (3) comes first {{3 | .TakesArg}}</h3>
</body>
</html>
