<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Workin' IT!</title>
</head>
<body>
  <h1>Menz</h1>
  <ul>
    {{.}}
    <li>First - {{.First}}   Last - {{.Last}}   Age - {{.Age}}</li>
  </ul>
</body>
</html>
